<header style="border-bottom: 5px solid #DC0018;">
  <div class="header-content">
    <!--    <div class="breadcrumb-languages">-->
    <!--      <div class="breadcrumb">Breadcrumb</div>-->
    <!--      <div class="languages">-->
    <!--        <mat-nav-list class="list-horizontal">-->
    <!--          <mat-list-item>Startseite</mat-list-item>-->
    <!--          <mat-list-item>Kontakte</mat-list-item>-->
    <!--          <mat-divider [vertical]="true"></mat-divider>-->
    <!--          <mat-nav-list class="inner-list-horizontal">-->
    <!--            <mat-list-item>DE</mat-list-item>-->
    <!--            <mat-list-item>FR</mat-list-item>-->
    <!--            <mat-list-item>IT</mat-list-item>-->
    <!--            <mat-list-item>EN</mat-list-item>-->
    <!--          </mat-nav-list>-->
    <!--        </mat-nav-list>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="logo-search">
      <a href="#" class="logo">
        <img src="assets/img/logo-CH.svg"
             alt="The Federal Authorities of the Swiss Confederation, www.admin.ch">
        <h6>FisCo</h6>
      </a>
      <!--      <div class="search">-->
      <!--        <form class="example-form">-->
      <!--          <mat-form-field class="example-full-width" appearance="outline">-->
      <!--            <input type="text" matInput>-->
      <!--            <mat-icon matPrefix>search</mat-icon>-->
      <!--          </mat-form-field>-->
      <!--        </form>-->
      <!--      </div>-->
    </div>
  </div>
</header>
<nav>
  <mat-toolbar>
    <mat-nav-list class="list-horizontal">
      <a mat-list-item>Home</a>
      <a mat-list-item>JSF</a>
      <a mat-list-item>TEST</a>
    </mat-nav-list>
  </mat-toolbar>
</nav>
