<p>home works!</p>

<h1>Regular</h1>
<span class="material-icons">home</span>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<h1>Outlined</h1>
<span class="material-icons-outlined">home</span>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontSet="material-icons-outlined">home</mat-icon>

<h1>Round</h1>
<span class="material-icons-round">home</span>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontSet="material-icons-round">home</mat-icon>

<h1>Sharp</h1>
<span class="material-icons-sharp">home</span>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontSet="material-icons-sharp">home</mat-icon>

<h1>Two Tone</h1>
<span class="material-icons-two-tone">home</span>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontSet="material-icons-two-tone">home</mat-icon>


